// colors
$background: #333333;
$black: #1b1b1b;
$white: #f5f5f5;
$magenta: #f984e5;
$pink: #fb607f;
$green: hsl(147, 50%, 47%);
$mustard: #fcc200;
$blue: #48d1cc;
$grey: #808080;
$navy: #002395;
$red: #7b1113;

// font sizes
